*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #e7e7e7;
    padding-top: 100px;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 100px auto;
}

header img {
    height: 30px;
    margin-bottom: 32px;
    margin-right: 16px;
}

header {
    display: flex;
    align-items: center;
}

header h1 {
    margin-bottom: 32px;
}

form {
    max-width: 640px;
    width: 100%;
    margin-right: 16px;
}

form input {
    font-size: 18px;
    padding: 8px;
    width: 250px;
}

form button {
    border: none;
    background-color: #009432;
    cursor: pointer;
    color: white;
    font-size: 18px;
    padding: 8px;
}

button:hover {
    background-color: rgb(128, 187, 39);
}

thead th {
    font-size: 24px;
    padding: 16px;
    margin-top: 100px;
}

tbody td{
    text-align: center;
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.erro-message {
    background-color: red;
    padding: 8px;
    color: white;
    font-size: 12px;
    display: none;
}

.success-message {
    background-color: #009432;
    padding: 12px;
    color: white;
    display: none;
}

input.error {
    outline-color: red;
    color: red;
    border: 1px solid red;
}